@import 'https://fonts.googleapis.com/css?family=Lobster';

nav.navbar{/*Color del nav bar*/
	background-color: #1AAF28;
	border: none;
}

.navbar-default .navbar-brand {/*Color del titulo*/
    color: white;
    font-size: 200%;
    font-family: 'Lobster', cursive;
}
.navbar-default .navbar-nav > li > a { /*Color de links*/
    color: #D7DBDD;
    font-family: 'Lobster', cursive;
    font-size: 150%;
}
.navbar-default .navbar-nav > li > a:hover,/*Color de links puntero sobre ellos*/
.navbar-default .navbar-nav > li > a:focus {
    color: black;
}
.navbar-default .navbar-nav > .active > a, /*Fondo de links puntero sobre ellos*/
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: #76CB7E;
    font-family: 'Lobster', cursive;
}
.thumbnail{
    padding-top: 20px;
}
.glyphicon{
    color: red;
    font-size: 500%;
}
.bg-pink{
background-color: #FFABE1;
}

.bg-1{
    background-image: url("../img/1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
}
.bg-2{
    background-image: url("../img/2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
}
.bg-3{
    background-image: url("../img/3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
}

.bg-green{
    background-color:#1AAF28;
    padding: 5%;
    margin-top: 5%;
}